.main {
  display: flex;
  flex-direction: column;

  align-items: center;

  width: 30rem;

  margin: 6rem auto 10rem auto;
  padding: 3rem 1rem 3rem 1rem;

  background-color: white;
  border-radius: 0.3rem;

  box-shadow: 0rem 0rem 0.5rem #8d8d8d;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}
